@{
    ViewBag.Title = "AllianceQuest";
}


<body>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Map</th>
                    <th>Gold cost for 1 day</th>
                    <th>Loyalty cost for 1 day</th>
                    <th>Battle Chips cost for 1 day</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Map 1</td>
                    <td>100,000</td>
                    <td>5,000</td>
                    <td>25000</td>
                </tr>
                <tr>
                    <td>Map 2</td>
                    <td>200,000</td>
                    <td>10,000</td>
                    <td>50000</td>
                </tr>
                <tr>
                    <td>Map 3</td>
                    <td>300,000</td>
                    <td>15,000</td>
                    <td>25,000</td>
                </tr>
                <tr>
                    <td>Map 4</td>
                    <td>500,000</td>
                    <td>25,000</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>Map 5</td>
                    <td>800,000</td>
                    <td>75,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Map 6</td>
                    <td>3,000,000</td>
                    <td>200,000</td>
                    <td>500,000</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>